<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="wtf.uhoh.newsoftkeyboard.app.debug.DebugNskApplication"
        tools:replace="android:name" >

        <activity
            android:name="wtf.uhoh.newsoftkeyboard.app.debug.TestInputActivity"
            android:exported="true"
            android:label="Keyboard Test Harness"
            android:permission="wtf.uhoh.newsoftkeyboard.permission.INTERNAL_TEST_HARNESS"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <activity
            android:name="wtf.uhoh.newsoftkeyboard.app.debug.TestInputTypesActivity"
            android:exported="true"
            android:label="Keyboard InputType Harness"
            android:permission="wtf.uhoh.newsoftkeyboard.permission.INTERNAL_TEST_HARNESS"
            android:windowSoftInputMode="adjustResize|stateVisible" />
    </application>
</manifest>
