<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.anysoftkeyboard.debug.DebugAnyApplication"
        tools:replace="android:name" >

        <activity
            android:name="com.anysoftkeyboard.debug.TestInputActivity"
            android:exported="true"
            android:label="Keyboard Test Harness"
            android:windowSoftInputMode="adjustResize|stateVisible" />
    </application>
</manifest>
