<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name="com.anysoftkeyboard.languagepack.italian.PackBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="wtf.uhoh.newsoftkeyboard.KEYBOARD" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="wtf.uhoh.newsoftkeyboard.DICTIONARY" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
            </intent-filter>

            <meta-data
                android:name="wtf.uhoh.newsoftkeyboard.keyboards"
                android:resource="@xml/italian_keyboards" />
            <meta-data
                android:name="wtf.uhoh.newsoftkeyboard.dictionaries"
                android:resource="@xml/italian_dictionaries" />
        </receiver>
    </application>
</manifest>
