<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity android:name=".RemoteInsertionActivity" android:theme="@style/Theme.AppCompat.Dialog" android:exported="false">
            <intent-filter>
                <action android:name="com.anysoftkeyboard.api.INTENT_MEDIA_INSERTION_REQUEST_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <!--
                <data android:mimeType="image/*"/>
                -->
            </intent-filter>
        </activity>

    </application>

    <queries>
        <!-- gif/media search -->
        <intent>
            <action android:name="com.anysoftkeyboard.api.INTENT_MEDIA_INSERTION_REQUEST_ACTION" />
        </intent>
    </queries>
</manifest>
